
h1
{
	color: rgb(25, 0, 255); 
	font-size: 40px;
}
.body_background{
	background-image: url("bg1.jpg");
	background-position: center;
	background-size: cover;
}

#myCanvas{
background-color: beige;
border-width: 5px;
border-style: ridge;
border-color: darkblue;
}
